<style>
    .signin-container {
        background-color: #1B4F3E;
        padding: 60px;
        border-radius: 8px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
        width: 300px;
        border: 4px solid #DAA520;
        margin: auto; 
        margin-top: 15px;
        display: flex;
        flex-direction: column; /
        align-items: center; 
    }

    h2 {
        color: #FFD700;
        text-align: center;
        font-family: 'Trajan Pro', serif;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        margin-bottom: 20px; 
    }

    input[type="text"], input[type="password"] {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 2px solid #DAA520;
        border-radius: 4px;
        background-color: #2F4F4F;
        color: #FFD700;
        font-family: 'Arial', sans-serif;
    }

    input[type="text"]:focus, input[type="password"]:focus {
        border-color: #FFD700;
        outline: none;
        box-shadow: 0 0 5px #FFD700;
    }

    button {
        width: 100%;
        padding: 10px;
        background-color: #DAA520;
        color: #1B4F3E;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-family: 'Trajan Pro', serif;
        font-weight: bold;
        text-transform: uppercase;
        transition: background-color 0.3s;
        margin-top: 10px; 
    }

    button:hover {
        background-color: #FFD700;
    }
</style>

<div class="signin-container">
    <h2>Sign-in</h2>
    <form id="matheo" >
        <input type="text" id="username" placeholder="Nombre de Usuario" name="username" required>
        <input type="password" id="password" placeholder="Contraseña" name="password" required>
        <button type="submit">Entrar</button>
    </form>
</div>